@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #016293;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #010101;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header: Navigation Section */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 800px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    padding-bottom: 5px;
}

/* Header: Opening Section */

.opening {
    display: flex;
    width: 800px;
    padding: 100px 0;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    font-style: bold;
}

.left .info {
    padding: 10px 22px 10px 0;
}

.right {
    width: 80px;
    height: auto;
    flex: 1;
}

/* Members Section */

.members,
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members {
    padding: 30px;
    color: #F9FAF8;
    background-color: #011926;
}

.profile {
    max-width: 150px;
    text-align: center;
    gap: 10px;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}

.profile img {
    border: 4px outset #F9FAF8;
    width: 140px;
    height: 140px;
    border-radius: 15px;
}

.cards {
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}

/* Buttons */

button {
    background-color: inherit;
    color: inherit;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: 700;
    border: 2px solid #F9FAF8;
}

.left button:hover {
    background-color: #F9FAF8;
    color: #010101;

}

.ad button {
    border: 2px solid #011926;
}

.ad button:hover {
    background-color: #011926;
    color: #F9FAF8;
}

/* Quote Section */

.quote {
    background-color: #003E5C;
    padding: 80px;
    color: inherit;
}

.testimonial {
    font-size: 36px;
    width: 775px;
    margin: 0 auto;
    font-style: italic;
}

.author {
    font-weight: 700;
    font-size: 22px;
    width: 700px;
    margin: 0 auto;
    text-align: right;
}

/* Ad Section */

.ad {
    background-color: #F9FAF8;
    color: #011926;
    width: 800px;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    margin: 75px auto;
}

.ad-content {
    width: 500px;
}

.ad-title {
    font-weight: 900;
    font-size: 18px;
}

/* Footer Section */

.footer {
    background-color: #007BB8;
    padding: 32px;
    text-align: center;
}
